.container-sm .text-black-50 {
	font-size: 13px;
	margin-top: 1em;
	text-align: left;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

@media (min-width: 767.98px) {
	.container-sm {
		width: 390px !important;
	}
}
