<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Личный кабинет</title>

	<!-- BOOTSTRAP -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

	<!-- CSS -->
	<link rel="stylesheet" href="style.css">

	<!-- VUE -->
	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>

</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	  <div class="container-fluid">
	    <a class="navbar-brand" href="#">Блокчейн-система</a>
	    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
	      <span class="navbar-toggler-icon"></span>
	    </button>
	    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
	      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
	        <li class="nav-item">
	          <a class="nav-link active" aria-current="page" href="#">Личный кабинет</a>
	        </li>
	        <li class="nav-item">
	          <a class="nav-link" href="reviews.html">Книга жалоб и предложений</a>
	        </li>
	        <li id='exit' class="nav-item">
	          <a class="nav-link" href="auth.html">Выйти из аккаунта</a>
	        </li>
	      </ul>
	      <form class="d-flex">
	        <input class="form-control me-2" type="search" placeholder="Поиск" aria-label="Search">
	        <button class="btn btn-outline-success" type="submit">Найти</button>
	      </form>
	      <a id='exit-icon' class='me-3 ms-3' href="auth.html"><img data-bs-toggle="tooltip" data-bs-placement="left" title="Выйти из аккаунта" src="exit.svg" style='width: 2em;'></a> 
	    </div>

	  </div>
	</nav>
	<div id="body">
		<main class='m-3' v-if="user=='admin'">
			<header class='text-center'>
				Вы авторизованы под учетной записью администратора системы ilevickij
			</header>
			<div class="row">
				<div class="col-sm">
					<div class="fw-bold">Запросы на смену роли</div> 
					<table class='table table-hover table-bordered'>
						<tr>
							<th>Пользователь</th>
							<th>Текущая роль</th>
						</tr>
						<tr data-bs-toggle="modal" data-bs-target="#exampleModalCenter" v-for='el in names'>
						<template v-if="el.role == 'Продавец' || el.role == 'Покупатель'">
							<td>{{ el.name }}</td>
							<td>{{ el.role }}</td>
						</template>
						</tr>
					</table>
				</div>
				<div class="col-sm">
					<div class="fw-bold">Список администраторов системы</div> 
					<table class='table table-hover table-bordered'>
						<tr v-for='el in names'>
						<template v-if="el.role == 'Администратор'">
							<td>{{ el.name }}</td>
						</template>
						</tr>
					</table>
				</div>
			</div>
			<div class="row">
				<div class="col-sm">
					<div class="fw-bold">Список продавцов</div>
					<table class="table table-hover table-bordered">
						<tr>
							<th>Продавец</th>
							<th>Магазин</th>
						</tr>
						<tr v-for="el in names">
						<template v-if="el.role == 'Продавец'">
							<td>{{ el.name }}</td>
							<td>Магазин №1</td>
						</template>
						</tr>
					</table>
				</div>
			</div>
		</main>
		<main class='m-3' v-if="user=='seller'">
			<header class='text-center'>
				Вы авторизованы под учетной записью продавца системы ilevickij
				<div class="fw-bold">Левицкий Иван Александрович, г. Великий Новгород</div>
			</header>
			<div class="row">
				<div class="col-sm">
					<div class="fw-bold">Комментарии</div>
					<table class="table table-hover table-bordered">
						<tr>
							<th>Пользователь</th>
							<th>Комментарий</th>
							<th>Оценка</th>
							<th>Подтверждения / Опровержения</th>
						</tr>
						<tr v-for="el in 15">
							<td>Далеко-далеко за словесными горами в стране.</td>
							<td>Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты.</td>
							<td>5</td>
							<td>5/10</td>
						</tr>
					</table>
				</div>
			</div>
			
		</main>
	</div>


	<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Подтверждение</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </button>
      </div>
      <div class="modal-body">
        Подтвердите смену роли пользователя Левицкий Иван с Продавец на Покупатель.

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
        <button type="button" class="btn btn-primary">Подтверждаю</button>
      </div>
    </div>
  </div>
</div>

</body>
<script>
var app = new Vue({
	el: "#body",
	data: {
		count: 10,
		user: 'admin',
		names: [
			{"name": 'Левицкий Иван Александр', "role": "Продавец"},
			{"name": "Авдеев Михаил Андреевич", "role": "Покупатель"},
			{"name": "Барышев Глеб Эдуардович", "role": "Дворник"},
			{"name": "Нор Марк Эдуардович", "role": "Продавец"},
			{"name": "Барышев Олег Эдуардович","role": "Продавец"},
			{"name": "Можаев Александр Александрович", "role": "Покупатель"},
			{"name": "Иванов Иван Иванович", "role": "Продавец"},
			{"name": "Семенов Семен Семенович", "role": "Продавец"},
			{"name": "Петров Петр Петрович", "role": "Покупатель"},
			{"name": "Сергеев Сергей Сергеевич", "role": "Администратор"},
			{"name": "Левицкий Левицк Левицкович", "role": "Администратор"},
			{"name": "Барышев Барыш Барышевич", "role": "Администратор"},
			{"name": "Нор Нор Норович", "role": "Администратор"},
		],
		shops: 'Магазин №',
	}
});
var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
  return new bootstrap.Tooltip(tooltipTriggerEl)
})
$('#myModal').on('shown.bs.modal', function () {
  $('#myInput').trigger('focus')
})
</script>
</html>