<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Личный кабинет</title>

	<!-- BOOTSTRAP -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

	<!-- CSS -->
	<link rel="stylesheet" href="style.css">

	<!-- VUE -->
	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>

	<script src="main.js"></script>

</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	  <div class="container-fluid">
	    <a class="navbar-brand" href="#">Блокчейн-система</a>
	    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
	      <span class="navbar-toggler-icon"></span>
	    </button>
	    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
	      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
	        <li class="nav-item">
	          <a class="nav-link" aria-current="page" href="office.html">Личный кабинет</a>
	        </li>
	        <li class="nav-item">
	          <a class="nav-link active" href="#">Книга жалоб и предложений</a>
	        </li>
	        <li id='exit' class="nav-item">
	          <a class="nav-link" href="auth.html">Выйти из аккаунта</a>
	        </li>
	      </ul>
	      <form class="d-flex">
	        <input class="form-control me-2" type="search" placeholder="Поиск" aria-label="Search">
	        <button class="btn btn-outline-success" type="submit">Найти</button>
	      </form>
	      <a id='exit-icon' class='me-3 ms-3' href="auth.html"><img data-bs-toggle="tooltip" data-bs-placement="left" title="Выйти из аккаунта" src="exit.svg" style='width: 2em;'></a> 
	    </div>

	  </div>
	</nav>
	<!-- <header class='text-light bg-dark d-flex justify-content-between align-items-center w-100'>
		<h1 class='ms-3'>Личный кабинет</h1>
		<a id='exit-text' class='me-3' href="auth.html">Выйти из аккаунта</a>
		<a id='exit-icon' class='me-3' href="auth.html" style='display: none;'><img src="exit.svg" style='width: 2em;'></a>
	</header> -->
	<div id="body">
		<main class='m-3' v-if="user=='buyer'">
			<div class="row">
				<div class="col-sm">
					<app-example></app-example>
					<div class="fw-bold">Оставить отзыв {{ total }}</div>
					<textarea type="text" class="form-control">{{ search }}{{ currentPage }}</textarea>
				</div>
				<div class="col-sm">
					<div class="fw-bold">Найти</div>
					<input type="text" v-model='search' class="form-control">
					<table class="table table-striped border rounded">
						<tr v-for='el in filteredList.slice(0, perPage)'>
							<td>{{ el }}</td>
						</tr>
					</table>
					<nav>
					  <ul class="pagination">
					    <li class="page-item" @click='pagePrev' v-bind:class='{ disabled: isPrev }'>
					      <a class="page-link" href="#" aria-label="Previous">
					        <span aria-hidden="true">&laquo;</span>
					      </a>
					    </li>
					    <li class="page-item active" @click='page'><a class="page-link" href="#">1</a></li>
					    <li class="page-item" @click='page'><a class="page-link" href="#">2</a></li>
					    <li class="page-item" @click='page'><a class="page-link" href="#">3</a></li>
					    <li class="page-item" @click="pageNext" v-bind:class='{ disabled: isNext }'>
					      <a class="page-link" href="#" aria-label="Next">
					        <span aria-hidden="true">&raquo;</span>
					      </a>
					    </li>
					  </ul>
					</nav>
				</div>
			</div>
		</main>
		<main class='m-3' v-if="user=='seller'">
			
			
		</main>
	</div>
</body>
<script>
var app = new Vue({
	el: "#body",
	data: {
		count: 10,
		user: 'buyer',
		search: '',
		shops: [],
		shops2: ['У Глеба', 'Петрович', 'Озорник Глеб', 'Глебика тайны', 'Ярик крутой', 'Марк и Егорик', 'Вованчик', 'Михаил'],
		currentPage: 1,
		perPage: 3,
		total: 8,
		isNext: false,
		isPrev: true,

	},
	beforeMount(){
		this.shops = this.shops2.slice(0,3)
	},
	methods: {
		pageNext(){
			if (this.currentPage*this.perPage <= this.total) {
				this.shops = this.shops2.slice(this.currentPage*this.perPage, this.currentPage*this.perPage+this.perPage);
				this.currentPage++;
				if (this.currentPage*this.perPage <= this.total) {
					this.isNext = false;
				} else {
					this.isNext = true;
				}
			}
			
		},
		pagePrev(){
			if ((this.currentPage-1)*this.perPage >= 1) {
				this.currentPage--;
				this.shops = this.shops2.slice((this.currentPage-1)*this.perPage, this.currentPage*this.perPage+this.perPage);
				if ((this.currentPage-1)*this.perPage <= 1) {
					this.isPrev = true;
				} else {
					this.isPrev = false;
				}
				if (this.currentPage*this.perPage <= this.total) {
					this.isNext = false;
				} else {
					this.isNext = true;
				}
			}
		},
		page(){
			this.currentPage = 1;
			this.shops = this.shops2.slice((this.currentPage-1)*this.perPage, this.currentPage*this.perPage+this.perPage);
		},
	},
	computed: {
		filteredList(){
			return this.shops.filter(el => {
				return el.toLowerCase().indexOf(this.search.toLowerCase()) > -1
			})
		},

	}
});
var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
  return new bootstrap.Tooltip(tooltipTriggerEl)
})
</script>
</html>